layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane borderless=true edit="./src/lib.rs" size="65%"
        pane split_direction="horizontal"{
            pane command="cargo" {
                borderless true
                args "test"
            }
            pane borderless=true
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
